<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Book-Lover App</a>
        <ul class="navbar-nav mr-auto" *ngIf="accountService.currentUser$|async">
            <li class="nav-item">
                <a class="nav-link" href="#">WishList</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">BookList</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Messages</a>
            </li>     
        </ul>
       
        <div class="dropdown" *ngIf="accountService.currentUser$|async" bsDropdown>
            <a class="dropdown-toggle text-light" bsDropdownToggle>Welcome {{accountService.currentUser$.userName}}</a>
            <div class="dropdown-menu mt-3" *bsDropdownMenu>
                <a class="dropdown-item">Edit Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
        <form *ngIf="(accountService.currentUser$|async) === null" [formGroup]="loginForm" class="form-inline mt-2 mt-md-0" autocomplete="off" (ngSubmit)="login()">
            <input name="userName" class="form-control mr-sm-2" type="text" placeholder="Username"  formControlName="userName">
            <input name="password" class="form-control mr-sm-2" type="password" placeholder="Password" formControlName="password">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
    </div>
</nav>